select.d-combobox {
    height: 40px;
    border-width: 1px;
    border-color: #bbbbbb;
    border-radius: 4px;
    min-width: 200px;
    outline: none;
}

select.d-combobox:focus {
    border-color: #019160;
}

.m-2 .el-input__wrapper {
    border-radius: 30px !important;
    width: 150px !important;
}

.m-2.el-select .el-input.is-focus .el-input__wrapper {
    box-shadow: 0 0 0 1px rgb(44, 160, 28) !important;
}

.m-2.el-select .el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px rgb(44, 160, 28) !important;
}

.el-select-dropdown__item.selected {
    color: #019160 !important;
}

.m-1 .el-input__wrapper {
    border-radius: 4x !important;
    min-width: 200px !important;
}

.m-1.el-select .el-input.is-focus .el-input__wrapper {
    box-shadow: 0 0 0 1px rgb(44, 160, 28) !important;
}

.m-1.el-select .el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px rgb(44, 160, 28) !important;
}